<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.drakkan.sftpgo</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SFTPGO_CONFIG_DIR</key>
        <string>/usr/local/opt/sftpgo/etc</string>
        <key>SFTPGO_LOG_FILE_PATH</key>
        <string>/usr/local/opt/sftpgo/log/sftpgo.log</string>
        <key>SFTPGO_HTTPD__TEMPLATES_PATH</key>
        <string>/usr/local/opt/sftpgo/templates</string>
        <key>SFTPGO_HTTPD__STATIC_FILES_PATH</key>
        <string>/usr/local/opt/sftpgo/static</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/usr/local/opt/sftpgo/etc</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/opt/sftpgo/bin/sftpgo</string>
        <string>serve</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>