# compilation output
sftpgo
sftpgo.exe
bin/

# jetbrains project files
.idea/

# generated keys
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
id_ecdsa
id_ecdsa.pub

# SQLite database
sftpgo.db

# logs
*.log

# coverage
coverage.txt
