language: go

os:
  - linux
  - osx

arch:
  - amd64
  - arm64

go:
  - 1.13.x
  - 1.14.x

matrix:
  exclude:
    - os: linux
      arch: arm64
      go: 1.13.x

env:
  - GO111MODULE=on

before_script:
  - sftpgo initprovider

install:
  - go get -v -t ./...

script:
  - go test -v ./... -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)