{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SFTPGo WebClient - {{template "title" .}}</title>

    <link rel="shortcut icon" href="{{.StaticURL}}/favicon.ico" />

    <!-- Custom fonts for this template-->
    <link href="{{.StaticURL}}/vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{.StaticURL}}/vendor/fontawesome-free/css/solid.min.css" rel="stylesheet" type="text/css">
    <link href="{{.StaticURL}}/vendor/fontawesome-free/css/regular.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{.StaticURL}}/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('{{.StaticURL}}/vendor/fonts/Roboto-Bold-webfont.woff');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Roboto';
            src: url('{{.StaticURL}}/vendor/fonts/Roboto-Regular-webfont.woff');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Roboto';
            src: url('{{.StaticURL}}/vendor/fonts/Roboto-Light-webfont.woff');
            font-weight: 300;
            font-style: normal;
        }

        div.dt-buttons {
            margin-bottom: 1em;
        }

        .text-form-error {
            color: var(--red) !important;
        }
    </style>
    {{block "extra_css" .}}{{end}}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{if .LoggedUser.Username}}
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
                <div style="text-transform: none;">SFTPGo WebClient</div>
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item {{if eq .CurrentURL .FilesURL}}active{{end}}">
                <a class="nav-link" href="{{.FilesURL}}">
                    <i class="fas fa-folder-open"></i>
                    <span>{{.FilesTitle}}</span>
                </a>
            </li>
            {{if .LoggedUser.CanManageShares}}
            <li class="nav-item {{if eq .CurrentURL .SharesURL}}active{{end}}">
                <a class="nav-link" href="{{.SharesURL}}">
                    <i class="fas fa-share-alt"></i>
                    <span>{{.SharesTitle}}</span></a>
            </li>
            {{end}}

            <li class="nav-item {{if eq .CurrentURL .ProfileURL}}active{{end}}">
                <a class="nav-link" href="{{.ProfileURL}}">
                    <i class="fas fa-user"></i>
                    <span>{{.ProfileTitle}}</span></a>
            </li>
            {{if .LoggedUser.CanManageMFA}}
            <li class="nav-item {{if eq .CurrentURL .MFAURL}}active{{end}}">
                <a class="nav-link" href="{{.MFAURL}}">
                    <i class="fas fa-user-lock"></i>
                    <span>{{.MFATitle}}</span></a>
            </li>
            {{end}}
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        {{end}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{if .LoggedUser.Username}}
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        {{block "additionalnavitems" .}}{{end}}

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{.LoggedUser.Username}}</span>
                                <i class="fas fa-user fa-fw"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                {{if .LoggedUser.CanChangePassword}}
                                <a class="dropdown-item" href="{{.ChangePwdURL}}">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change password
                                </a>
                                <div class="dropdown-divider"></div>
                                {{end}}
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                {{end}}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {{template "page_body" .}}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {{if .LoggedUser.Username}}
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>SFTPGo {{.Version}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
            {{end}}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {{if .LoggedUser.Username}}
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{.LogoutURL}}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{block "dialog" .}}{{end}}

    <!-- Bootstrap core JavaScript-->
    <script src="{{.StaticURL}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{.StaticURL}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{.StaticURL}}/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{.StaticURL}}/js/sb-admin-2.min.js"></script>

    <script type="text/javascript">
        function fixedEncodeURIComponent(str) {
            return encodeURIComponent(str).replace(/[!'()*]/g, function (c) {
                return '%' + c.charCodeAt(0).toString(16);
            });
        }

        function replaceSlash(str){
            return str.replace(/\//g,'\u2215');
        }
    </script>

    <!-- Page level plugins -->
    {{block "extra_js" .}}{{end}}

</body>

</html>
{{end}}