{{template "baselogin" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
                                    {{if .Error}}
                                    <div class="card mb-4 border-left-warning">
                                        <div class="card-body text-form-error">{{.Error}}</div>
                                    </div>
                                    {{end}}
                                    <form id="login_form" action="{{.CurrentURL}}" method="POST" autocomplete="off"
                                        class="user-custom">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user-custom"
                                                id="inputUsername" name="username" placeholder="Username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user-custom"
                                                id="inputPassword" name="password" placeholder="Password" required>
                                            {{if .ForgotPwdURL}}
                                            <div class="text-right">
                                                <a class="small" href="{{.ForgotPwdURL}}">Forgot password?</a>
                                            </div>
                                            {{end}}
                                        </div>
                                        <input type="hidden" name="_form_token" value="{{.CSRFToken}}">
                                        <button type="submit" class="btn btn-primary btn-user-custom btn-block">
                                            Login
                                        </button>
                                    </form>
                                    {{if .AltLoginURL}}
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{.AltLoginURL}}">Web Admin</a>
                                    </div>
                                    {{end}}
{{end}}