{{template "baselogin" .}}

{{define "title"}}Two-Factor authentication{{end}}

{{define "content"}}
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">SFTPGo Admin - {{.Version}}</h1>
                                    </div>
                                    {{if .Error}}
                                    <div class="card mb-4 border-left-warning">
                                        <div class="card-body text-form-error">{{.Error}}</div>
                                    </div>
                                    {{end}}
                                    <form id="login_form" action="{{.CurrentURL}}" method="POST" autocomplete="off"
                                        class="user-custom">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user-custom"
                                                id="inputPasscode" name="passcode" placeholder="Authentication code" required>
                                        </div>
                                        <input type="hidden" name="_form_token" value="{{.CSRFToken}}">
                                        <button type="submit" class="btn btn-primary btn-user-custom btn-block">
                                            Verify
                                        </button>
                                    </form>
                                    <hr>
                                    <div>
                                        <p>Open the two-factor authentication app on your device to view your authentication code and verify your identity.</p>
                                    </div>
                                    <hr>
                                    <div>
                                        <p><strong>Having problems?</strong></p>
                                        <p><a href="{{.RecoveryURL}}">Enter a two-factor recovery code</a></p>
                                    </div>
{{end}}