{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SFTPGo - {{template "title" .}}</title>

    <link rel="shortcut icon" href="/static/favicon.ico" />

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/fonts.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        div.dt-buttons {
            margin-bottom: 1em;
        }

        .text-form-error {
            color: var(--red) !important;
        }
    </style>
    {{block "extra_css" .}}{{end}}

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{.UsersURL}}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="text-transform: none;">SFTPGo Web</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <li class="nav-item {{if eq .CurrentURL .UsersURL}}active{{end}}">
                <a class="nav-link" href="{{.UsersURL}}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>{{.UsersTitle}}</span></a>
            </li>

            <li class="nav-item {{if eq .CurrentURL .FoldersURL}}active{{end}}">
                <a class="nav-link" href="{{.FoldersURL}}">
                    <i class="fas fa-folder"></i>
                    <span>{{.FoldersTitle}}</span></a>
            </li>

            <li class="nav-item {{if eq .CurrentURL .ConnectionsURL}}active{{end}}">
                <a class="nav-link" href="{{.ConnectionsURL}}">
                    <i class="fas fa-exchange-alt"></i>
                    <span>{{.ConnectionsTitle}}</span></a>
            </li>

            <li class="nav-item {{if eq .CurrentURL .StatusURL}}active{{end}}">
                <a class="nav-link" href="{{.StatusURL}}">
                    <i class="fas fa-info-circle"></i>
                    <span>{{.StatusTitle}}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="mb-4 static-top">

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {{template "page_body" .}}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>SFTPGo {{.Version}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {{block "dialog" .}}{{end}}

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    {{block "extra_js" .}}{{end}}

</body>

</html>
{{end}}