{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "extra_css"}}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="/static/vendor/datatables/select.bootstrap4.min.css" rel="stylesheet">
<link href="/static/vendor/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
{{end}}

{{define "page_body"}}
<div id="errorMsg" class="card mb-4 border-left-warning" style="display: none;">
    <div id="errorTxt" class="card-body text-form-error"></div>
</div>

{{if .Connections}}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View and manage connections</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Time</th>
                        <th>Info</th>
                        <th>Transfers</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Connections}}
                    <tr>
                        <td>{{.ConnectionID}}</td>
                        <td>{{.Username}}</td>
                        <td>{{.GetConnectionDuration}}</td>
                        <td>{{.GetConnectionInfo}}</td>
                        <td>{{.GetTransfersAsString}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{else}}
<div class="card mb-4 border-left-info">
    <div class="card-body">No user connected</div>
</div>
{{end}}
{{end}}

{{define "dialog"}}
<div class="modal fade" id="disconnectModal" tabindex="-1" role="dialog" aria-labelledby="disconnectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disconnectModalLabel">
                    Confirmation required
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Do you want to close the selected connection?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    Cancel
                </button>
                <a class="btn btn-warning" href="#" onclick="disconnectAction()">
                    Disconnect
                </a>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "extra_js"}}
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/static/vendor/datatables/dataTables.select.min.js"></script>
<script src="/static/vendor/datatables/select.bootstrap4.min.js"></script>
<script src="/static/vendor/datatables/dataTables.buttons.min.js"></script>
<script src="/static/vendor/datatables/buttons.bootstrap4.min.js"></script>
<script type="text/javascript">

    function disconnectAction() {
        var table = $('#dataTable').DataTable();
        table.button(0).enable(false);
        var connectionID = table.row({ selected: true }).data()[0];
        var path = '{{.APIConnectionsURL}}' + "/" + connectionID;
        $('#disconnectModal').modal('hide');
        $.ajax({
            url: path,
            type: 'DELETE',
            dataType: 'json',
            timeout: 15000,
            success: function (result) {
                setTimeout(function () {
                    table.button(0).enable(true);
                    window.location.href = '{{.ConnectionsURL}}';
                }, 1000);
            },
            error: function ($xhr, textStatus, errorThrown) {
                table.button(0).enable(true);
                var txt = "Unable to close the selected connection";
                if ($xhr) {
                    var json = $xhr.responseJSON;
                    if (json) {
                        txt += ": " + json.message;
                    }
                }
                $('#errorTxt').text(txt);
                $('#errorMsg').show();
                setTimeout(function () {
                    $('#errorMsg').hide();
                }, 5000);
            }
        });
    }

    $(document).ready(function () {
        $.fn.dataTable.ext.buttons.disconnect = {
            text: 'Disconnect',
            action: function (e, dt, node, config) {
                $('#disconnectModal').modal('show');
            },
            enabled: false
        };

        var table = $('#dataTable').DataTable({
            dom: "<'row'<'col-sm-12'B>>" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            select: true,
            buttons: [
                'disconnect'
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
            ],
            "scrollX": false,
            "order": [[1, 'asc']]
        });

        table.on('select deselect', function () {
            var selectedRows = table.rows({ selected: true }).count();
            table.button(0).enable(selectedRows == 1);
        });
    });
</script>
{{end}}