{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "page_body"}}

<!-- Page Heading -->
<h1 class="h5 mb-4 text-gray-800">{{if .IsAdd}}Add a new user{{else}}Edit user{{end}}</h1>
{{if .Error}}
<div class="card mb-4 border-left-warning">
    <div class="card-body text-form-error">{{.Error}}</div>
</div>
{{end}}
<form action="{{.CurrentURL}}" method="POST" autocomplete="off">
    <div class="form-group row">
        <label for="idUsername" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="idUsername" name="username" placeholder=""
                value="{{.User.Username}}" maxlength="255" autocomplete="nope" required
                {{if not .IsAdd}}readonly{{end}}>
        </div>
    </div>

    <div class="form-group row">
        <label for="idPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="idPassword" name="password" placeholder="" maxlength="255"
                autocomplete="new-password" {{if not .IsAdd}}aria-describedby="pwdHelpBlock" {{end}}>
            {{if not .IsAdd}}
            <small id="pwdHelpBlock" class="form-text text-muted">
                If empty the current password will not be changed
            </small>
            {{end}}
        </div>
    </div>

    <div class="form-group row">
        <label for="idPublicKeys" class="col-sm-2 col-form-label">Public keys</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="idPublicKeys" name="public_keys" rows="3"
                aria-describedby="pkHelpBlock">{{range .User.PublicKeys}}{{.}}&#10;{{end}}</textarea>
            <small id="pkHelpBlock" class="form-text text-muted">
                One public key per line
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="idPermissions" class="col-sm-2 col-form-label">Permissions</label>
        <div class="col-sm-10">
            <select class="form-control" id="idPermissions" name="permissions" required multiple>
                {{range $validPerm := .ValidPerms}}
                <option value="{{$validPerm}}"
                    {{range $perm := $.User.Permissions}}{{if eq $perm $validPerm}}selected{{end}}{{end}}>{{$validPerm}}
                </option>
                {{end}}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="idHomeDir" class="col-sm-2 col-form-label">Home Dir</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="idHomeDir" name="home_dir" placeholder=""
                value="{{.User.HomeDir}}" maxlength="255">
        </div>
    </div>

    <div class="form-group row">
        <label for="idQuotaFiles" class="col-sm-2 col-form-label">Quota files</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" id="idQuotaFiles" name="quota_files" placeholder=""
                value="{{.User.QuotaFiles}}" min="0" aria-describedby="qfHelpBlock">
            <small id="qfHelpBlock" class="form-text text-muted">
                0 means no limit
            </small>
        </div>
        <div class="col-sm-2"></div>
        <label for="idQuotaSize" class="col-sm-2 col-form-label">Quota size (bytes)</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" id="idQuotaSize" name="quota_size" placeholder=""
                value="{{.User.QuotaSize}}" min="0" aria-describedby="qsHelpBlock">
            <small id="qsHelpBlock" class="form-text text-muted">
                0 means no limit
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="idUploadBandwidth" class="col-sm-2 col-form-label">Bandwidth UL (KB/s)</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" id="idUploadBandwidth" name="upload_bandwidth" placeholder=""
                value="{{.User.UploadBandwidth}}" min="0" aria-describedby="ulHelpBlock">
            <small id="ulHelpBlock" class="form-text text-muted">
                0 means no limit
            </small>
        </div>
        <div class="col-sm-2"></div>
        <label for="idDownloadBandwidth" class="col-sm-2 col-form-label">Bandwidth DL (KB/s)</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" id="idDownloadBandwidth" name="download_bandwidth" placeholder=""
                value="{{.User.DownloadBandwidth}}" min="0" aria-describedby="dlHelpBlock">
            <small id="dlHelpBlock" class="form-text text-muted">
                0 means no limit
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="idMaxSessions" class="col-sm-2 col-form-label">Max sessions</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="idMaxSessions" name="max_sessions" placeholder=""
                value="{{.User.MaxSessions}}" min="0" aria-describedby="sessionsHelpBlock">
            <small id="sessionsHelpBlock" class="form-text text-muted">
                0 means no limit
            </small>
        </div>
        <div class="col-sm-1"></div>
        <label for="idUID" class="col-sm-1 col-form-label">UID</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="idUID" name="uid" placeholder="" value="{{.User.UID}}" min="0"
                max="65535">
        </div>
        <div class="col-sm-1"></div>
        <label for="idGID" class="col-sm-1 col-form-label">GID</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="idGID" name="gid" placeholder="" value="{{.User.GID}}" min="0"
                max="65535">
        </div>
    </div>

    <button type="submit" class="btn btn-primary float-right mt-3 mb-5 px-5 px-3">Submit</button>
</form>

{{end}}